.bodyIntro{
	/*background-color: black;
*/
	background: url(https://raw.githubusercontent.com/ndduc/myweb/master/resourse/bgTech1.png) no-repeat fixed center;
	width: 100%;
	height: 100%;
	
}



.divNav{
	/*border:dotted;*/
	position: relative;
	-webkit-animation-name: aniDrop; /* Safari 4.0 - 8.0 */
  	-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  	animation-name: aniDrop;
  	animation-duration: 2s;
	-webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
  	-moz-animation-fill-mode: forwards;    /* FF 5+ */
  	-o-animation-fill-mode: forwards;      /* Not implemented yet */
  	-ms-animation-fill-mode: forwards;     /* IE 10+ */
  	animation-fill-mode: forwards;  
}

@-webkit-keyframes aniDrop{
	0%   {visibility: visible; left:0px; top:0px;}
  100%  {visibility: visible; left:0px; top:50px;}
}
@keyframes aniDrop {
 	 0%   {visibility: visible; left:0px; top:0px;}
 	100%  {visibility: visible; left:0px; top:50px;}
}


.nav1 {
	display:flex;
	justify-content: center;
	align-items: center;

}
span {
	display: inline;
	font-size: 20px;
	font-family: 'tahoma';
	text-align: center;

}


.cntNav0, .cntNav1, .cntNav2, .cntNav3, .cntNav4, .cntNav5 {
	width: 130px;
	height: 30px;
	border-radius:20px;
	border: 1px black solid;
	text-align: center;
	margin-right: 50px;
	cursor:pointer;
}

.cntNav0:hover, .cntNav1:hover, .cntNav2:hover, .cntNav3:hover
, .cntNav4:hover, .cntNav5:hover {
	position: relative;
	-webkit-animation-name: aniUpDown; /* Safari 4.0 - 8.0 */
  	-webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  	animation-name: aniUpDown;
  	animation-duration: 1s;
	
	-webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
  	-moz-animation-fill-mode: forwards;    /* FF 5+ */
  	-o-animation-fill-mode: forwards;      /* Not implemented yet */
  	-ms-animation-fill-mode: forwards;     /* IE 10+ */
  	animation-fill-mode: forwards;  

}
@-webkit-keyframes aniUpDown{
	0%   {left:0px; top:0px;}
	34%  {left:0px; top:-4px;}
  100%  {left:0px; top:0px;}
}

@keyframes aniUpDown {
  	0%   {left:0px; top:0px;}
	34%  { left:0px; top:-4px;}
  100%  {left:0px; top:0px;}
}


.divMyImageName {
	border: 1px black solid;
	margin-left:100px;
	width: 600px;
	height: 500px;
	display:flex;
	flex-direction:column;
}
.divMyImageName, .divMyImageDesc{
	
	justify-content: center;
	align-items: center;
}
.divMyImageName {
	position: relative;
	-webkit-animation-name: aniDropMyImage; /* Safari 4.0 - 8.0 */
  	-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  	animation-name: aniDropMyImage;
  	animation-duration: 2s;
	-webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
  	-moz-animation-fill-mode: forwards;    /* FF 5+ */
  	-o-animation-fill-mode: forwards;      /* Not implemented yet */
  	-ms-animation-fill-mode: forwards;     /* IE 10+ */
  	animation-fill-mode: forwards;  
}

.divMyImageDesc{
	display:inline-block;
	text-align: center;
}


.imgMyImage {
	width: 80px;
	height: 80px;
	border-radius:100px;
	border: 1px black solid;
	background: gray;
	margin-right: 10px;
	cursor: pointer;
}
.imgMyImage:hover{
	width: 200px;
	height: 200px;
}




@-webkit-keyframes aniDropMyImage{
	0%   {visibility: visible; left:0px; top:0px;}
  100%  {visibility: visible; left:0px; top:150px;}
}
@keyframes aniDropMyImage {
 	 0%   {visibility: visible; left:0px; top:0px;}
 	100%  {visibility: visible; left:0px; top:150px;}
}


.divMyImageDesc2{
	width:500px;
	display:inline-block;	
	text-align:center;
}



@-webkit-keyframes aniLeftMyImage{
	0%   {visibility: visible; left:-500px; top:0px;}
  100%  {visibility: visible; left:0px; top:300px;}
}
@keyframes aniLeftMyImage {
 	 0%   {visibility: visible; left:-500px; top:0;}
 	100%  {visibility: visible; left:0px; top:300px;}
}


.cntDummy {
	height: 800px;
}



.divMyImage{
	display: flex;
}


.p_note1 {
	font-size:15px;
}

.divProjectCnt {

}


/**
    mynote page
*/
.divInfo {
    margin-left: 19%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.divMyImageName_Note {

        border: 0.5px black solid;
        width: 30%;
	height: 100%;
	display:flex;
        flex-wrap: wrap;
	align-items: center;
}

.divMainCnt {

}

.divMainCnt {
	position: relative;
	-webkit-animation-name: aniDropMyImage; /* Safari 4.0 - 8.0 */
  	-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  	animation-name: aniDropMyImage;
  	animation-duration: 2s;
	-webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
  	-moz-animation-fill-mode: forwards;    /* FF 5+ */
  	-o-animation-fill-mode: forwards;      /* Not implemented yet */
  	-ms-animation-fill-mode: forwards;     /* IE 10+ */
  	animation-fill-mode: forwards;  
}


divMyImageDesc2_Note{/*
	width:500px;
	display:inline-block;	
	text-align:center;*/
}

/**TREE*/
/* Remove default bullets */
/**mynote left panel*/
.divInfo_Left {
   margin-top: 5%;
   border: 1px black solid;
   width: 18%;
   height: 80%;
   position: fixed;
   overflow-x: hidden;

}



